header {
    background-color: #FFE4B5;
    padding: 5;
    margin:5;
    font-size: 40;
}
nav { 
    background-color: #FFDAB9;
    padding:1;
    margin:5;
}
nav a {
    padding:10;
    text-decoration: none;
    background-color: #FF7F50;
    border-radius: 20px;
    margin:15;
    color: #8B0000
}
h2 {
   background-color: #4682B4  ;
}

main {
    background-color: #ADD8E6;
    margin:5;
    padding:5;
}
p1 {
    font-family: Arial;
}
footer {
    background: #AFEEEE;
    padding:5;
}